.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Keyboard {
  font-family: 'Cultive Mono', monospace;
  width: 350px;
  border: solid #000000 3px;
  border-radius: 8px;
  margin: auto;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
}

img {
  width: 250px;
  margin: auto;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  width: 300px;
  margin: auto;
  font-family: 'Gloria Hallelujah', cursive;
  color: #000;
  background: #ffffff;
  font-size: 50px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  text-decoration: none;
}